@
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section Estilos
{
    <link rel="stylesheet" href="~/css/VistaMuestra/productos.css" asp-append-version="true"/>
}

  <div class="row g-2">

    <div class="col-12">
      
        <div id="FranjaMenuVerde" class="row" style="margin-left: 0px; margin-right: 0px;">
            <div id="PXMenuVerde" class="col-12" style="padding-left: 0px; padding-right: 0px; display: flex;">
                <div class="">
                    <h1 id="TituloMenuVerde">Administracion Productos</h1>
                </div>
                <img id="PatronMenuVerde" src="/img/FranjaAzulada.png" alt="login-icon" />
            </div>
            <div class="col-12" style="padding-left: 0px; padding-right: 0px; z-index: 20  !important;">
                <div id="ApartadoMenuVerde" class="rounded-5">
                    <div id="DisplayApartadoMenuVerde">
                        <div id="ApartadoBotonesMenu" class="col-4 p-2"> 
                            <a asp-action="AgregarProducto" asp-controller="Productos" id="BotonMenu1" class="btn btn-secondary" ><i class="bi bi-plus-circle-fill"></i> Agregar Productos</a>
                            <a id="BotonMenu2" class="btn btn-secondary" ><i class="bi bi-file-earmark-pdf-fill"></i> Generar Reporte</a>
                        </div>    
                        <div id="ApartadoBuscadoMenu" class="col-3 p-2">
                            <div id="GrupoInput" class="input-group mb-3" style="height: 2vh;">
                               <div id="InputIconoMenu" class="input-group-text"><i class="bi bi-search"></i></div>
                               <input id="InputMenu" type="text" class="form-control" placeholder="Buscar Producto">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
    <div id="ContenidoMuestraUsuarios" class="col-12">

        <div id="TarjetaMuestraUsuario" class="card border-secondary mb-3">
          <div id="TituloMuestraUsuario" class="card-header">
              <div id="NombradosMuestraUsuario">
                  <h4 id="NombreMuestraUsuario">Viro-Grip</h4>
                  <div id="TipoUsuarioMuestraUsuario"><p>Capsula</p></div>
              </div>
          </div>
          <div id="CuerpoMuestraUsuario" class="card-body text-secondary">
               
              <div id="CuerpoContenidoUsuario">
                  <div id="CuerpoParte1">
                      <div id="UlCuerpoProducto">
                          <div id="IconoCuerpoProducto" data-bs-toggle="tooltip" data-bs-placement="right" data-bs-title="Producto"><i class="bi bi-box-seam-fill"></i></div>
                          <div id="NombreCuerpoProducto">
                              <div id="EnvueltoImagen">
                                  <img id="imgProducto" width="100" height="100" src="https://d1cft8rz0k7w99.cloudfront.net/n/c/1/4/2/c142e15a1a22685429f30fc6a954ce0f91b585bc_Overthecountermedication_326545_04.jpg">
                              </div>
                          </div>
                      </div>
                      <div id="UlCuerpoUsuario">
                          <div id="IconoCuerpoUsuario" data-bs-toggle="tooltip" data-bs-placement="right" data-bs-title="Marca"><i class="bi bi-bookmark-fill"></i></div>
                          <div id="NombreCuerpoUsuario">Vijosa</div>
                      </div>
                  </div>
                  <div id="CuerpoParte2">
                      <div id="UlCuerpoUsuario">
                          <div id="IconoCuerpoUsuario" data-bs-toggle="tooltip" data-bs-placement="right" data-bs-title="Tipo Producto"><i class="bi bi-box2-fill"></i></div>
                          <div id="NombreCuerpoUsuario">Capsula</div>
                      </div>
                      <div id="UlCuerpoUsuario">
                          <div id="IconoCuerpoUsuario" data-bs-toggle="tooltip" data-bs-placement="right" data-bs-title="Precio"><i class="bi bi-currency-exchange"></i></div>
                          <div id="NombreCuerpoUsuario">$10.00</div>
                      </div>
                      <div id="UlCuerpoUsuario">
                          <div id="IconoCuerpoUsuario" data-bs-toggle="tooltip" data-bs-placement="right" data-bs-title="Cantidad"><i class="bi bi-check-square-fill"></i></div>
                          <div id="NombreCuerpoUsuario">500</div>
                      </div>
                      <div id="UlCuerpoUsuario">
                          <div id="IconoCuerpoUsuario" data-bs-toggle="tooltip" data-bs-placement="right" data-bs-title="Estado Producto"><i class="bi bi-check-circle-fill"></i></div>
                          <div id="NombreCuerpoUsuario">Disponible</div>
                      </div>
                  </div>
              </div>
              <div id="CuerpoBotonesUsuario">
                  <a id="BotonCuerpo1" class="btn btn-secondary" ><i class="bi bi-plus-circle-fill"></i> Editar</a>
                  <a id="BotonCuerpo2" class="btn btn-secondary" ><i class="bi bi-file-earmark-pdf-fill"></i> Rechazar</a>
              </div>
                
          </div>
        </div> 
        
        <div id="TarjetaMuestraUsuario" class="card border-secondary mb-3">
          <div id="TituloMuestraUsuario" class="card-header">
              <div id="NombradosMuestraUsuario">
                  <h4 id="NombreMuestraUsuario">Viro-Grip</h4>
                  <div id="TipoUsuarioMuestraUsuario"><p>Capsula</p></div>
              </div>
          </div>
          <div id="CuerpoMuestraUsuario" class="card-body text-secondary">
               
              <div id="CuerpoContenidoUsuario">
                  <div id="CuerpoParte1">
                      <div id="UlCuerpoProducto">
                          <div id="IconoCuerpoProducto" data-bs-toggle="tooltip" data-bs-placement="right" data-bs-title="Producto"><i class="bi bi-box-seam-fill"></i></div>
                          <div id="NombreCuerpoProducto">
                              <div id="EnvueltoImagen">
                                  <img id="imgProducto" width="100" height="100" src="https://d1cft8rz0k7w99.cloudfront.net/n/c/1/4/2/c142e15a1a22685429f30fc6a954ce0f91b585bc_Overthecountermedication_326545_04.jpg">
                              </div>
                          </div>
                      </div>
                      <div id="UlCuerpoUsuario">
                          <div id="IconoCuerpoUsuario" data-bs-toggle="tooltip" data-bs-placement="right" data-bs-title="Marca"><i class="bi bi-bookmark-fill"></i></div>
                          <div id="NombreCuerpoUsuario">Vijosa</div>
                      </div>
                  </div>
                  <div id="CuerpoParte2">
                      <div id="UlCuerpoUsuario">
                          <div id="IconoCuerpoUsuario" data-bs-toggle="tooltip" data-bs-placement="right" data-bs-title="Tipo Producto"><i class="bi bi-box2-fill"></i></div>
                          <div id="NombreCuerpoUsuario">Capsula</div>
                      </div>
                      <div id="UlCuerpoUsuario">
                          <div id="IconoCuerpoUsuario" data-bs-toggle="tooltip" data-bs-placement="right" data-bs-title="Precio"><i class="bi bi-currency-exchange"></i></div>
                          <div id="NombreCuerpoUsuario">$10.00</div>
                      </div>
                      <div id="UlCuerpoUsuario">
                          <div id="IconoCuerpoUsuario" data-bs-toggle="tooltip" data-bs-placement="right" data-bs-title="Cantidad"><i class="bi bi-check-square-fill"></i></div>
                          <div id="NombreCuerpoUsuario">500</div>
                      </div>
                      <div id="UlCuerpoUsuario">
                          <div id="IconoCuerpoUsuario" data-bs-toggle="tooltip" data-bs-placement="right" data-bs-title="Estado Producto"><i class="bi bi-check-circle-fill"></i></div>
                          <div id="NombreCuerpoUsuario">Disponible</div>
                      </div>
                  </div>
              </div>
              <div id="CuerpoBotonesUsuario">
                  <a id="BotonCuerpo1" class="btn btn-secondary" ><i class="bi bi-plus-circle-fill"></i> Editar</a>
                  <a id="BotonCuerpo2" class="btn btn-secondary" ><i class="bi bi-file-earmark-pdf-fill"></i> Rechazar</a>
              </div>
                
          </div>
        </div> 

        <div id="TarjetaMuestraUsuario" class="card border-secondary mb-3">
          <div id="TituloMuestraUsuario" class="card-header">
              <div id="NombradosMuestraUsuario">
                  <h4 id="NombreMuestraUsuario">Viro-Grip</h4>
                  <div id="TipoUsuarioMuestraUsuario"><p>Capsula</p></div>
              </div>
          </div>
          <div id="CuerpoMuestraUsuario" class="card-body text-secondary">
               
              <div id="CuerpoContenidoUsuario">
                  <div id="CuerpoParte1">
                      <div id="UlCuerpoProducto">
                          <div id="IconoCuerpoProducto" data-bs-toggle="tooltip" data-bs-placement="right" data-bs-title="Producto"><i class="bi bi-box-seam-fill"></i></div>
                          <div id="NombreCuerpoProducto">
                              <div id="EnvueltoImagen">
                                  <img id="imgProducto" width="100" height="100" src="https://d1cft8rz0k7w99.cloudfront.net/n/c/1/4/2/c142e15a1a22685429f30fc6a954ce0f91b585bc_Overthecountermedication_326545_04.jpg">
                              </div>
                          </div>
                      </div>
                      <div id="UlCuerpoUsuario">
                          <div id="IconoCuerpoUsuario" data-bs-toggle="tooltip" data-bs-placement="right" data-bs-title="Marca"><i class="bi bi-bookmark-fill"></i></div>
                          <div id="NombreCuerpoUsuario">Vijosa</div>
                      </div>
                  </div>
                  <div id="CuerpoParte2">
                      <div id="UlCuerpoUsuario">
                          <div id="IconoCuerpoUsuario" data-bs-toggle="tooltip" data-bs-placement="right" data-bs-title="Tipo Producto"><i class="bi bi-box2-fill"></i></div>
                          <div id="NombreCuerpoUsuario">Capsula</div>
                      </div>
                      <div id="UlCuerpoUsuario">
                          <div id="IconoCuerpoUsuario" data-bs-toggle="tooltip" data-bs-placement="right" data-bs-title="Precio"><i class="bi bi-currency-exchange"></i></div>
                          <div id="NombreCuerpoUsuario">$10.00</div>
                      </div>
                      <div id="UlCuerpoUsuario">
                          <div id="IconoCuerpoUsuario" data-bs-toggle="tooltip" data-bs-placement="right" data-bs-title="Cantidad"><i class="bi bi-check-square-fill"></i></div>
                          <div id="NombreCuerpoUsuario">500</div>
                      </div>
                      <div id="UlCuerpoUsuario">
                          <div id="IconoCuerpoUsuario" data-bs-toggle="tooltip" data-bs-placement="right" data-bs-title="Estado Producto"><i class="bi bi-check-circle-fill"></i></div>
                          <div id="NombreCuerpoUsuario">Disponible</div>
                      </div>
                  </div>
              </div>
              <div id="CuerpoBotonesUsuario">
                  <a id="BotonCuerpo1" class="btn btn-secondary" ><i class="bi bi-plus-circle-fill"></i> Editar</a>
                  <a id="BotonCuerpo2" class="btn btn-secondary" ><i class="bi bi-file-earmark-pdf-fill"></i> Rechazar</a>
              </div>
                
          </div>
        </div> 

        <div id="TarjetaMuestraUsuario" class="card border-secondary mb-3">
          <div id="TituloMuestraUsuario" class="card-header">
              <div id="NombradosMuestraUsuario">
                  <h4 id="NombreMuestraUsuario">Viro-Grip</h4>
                  <div id="TipoUsuarioMuestraUsuario"><p>Capsula</p></div>
              </div>
          </div>
          <div id="CuerpoMuestraUsuario" class="card-body text-secondary">
               
              <div id="CuerpoContenidoUsuario">
                  <div id="CuerpoParte1">
                      <div id="UlCuerpoProducto">
                          <div id="IconoCuerpoProducto" data-bs-toggle="tooltip" data-bs-placement="right" data-bs-title="Producto"><i class="bi bi-box-seam-fill"></i></div>
                          <div id="NombreCuerpoProducto">
                              <div id="EnvueltoImagen">
                                  <img id="imgProducto" width="100" height="100" src="https://d1cft8rz0k7w99.cloudfront.net/n/c/1/4/2/c142e15a1a22685429f30fc6a954ce0f91b585bc_Overthecountermedication_326545_04.jpg">
                              </div>
                          </div>
                      </div>
                      <div id="UlCuerpoUsuario">
                          <div id="IconoCuerpoUsuario" data-bs-toggle="tooltip" data-bs-placement="right" data-bs-title="Marca"><i class="bi bi-bookmark-fill"></i></div>
                          <div id="NombreCuerpoUsuario">Vijosa</div>
                      </div>
                  </div>
                  <div id="CuerpoParte2">
                      <div id="UlCuerpoUsuario">
                          <div id="IconoCuerpoUsuario" data-bs-toggle="tooltip" data-bs-placement="right" data-bs-title="Tipo Producto"><i class="bi bi-box2-fill"></i></div>
                          <div id="NombreCuerpoUsuario">Capsula</div>
                      </div>
                      <div id="UlCuerpoUsuario">
                          <div id="IconoCuerpoUsuario" data-bs-toggle="tooltip" data-bs-placement="right" data-bs-title="Precio"><i class="bi bi-currency-exchange"></i></div>
                          <div id="NombreCuerpoUsuario">$10.00</div>
                      </div>
                      <div id="UlCuerpoUsuario">
                          <div id="IconoCuerpoUsuario" data-bs-toggle="tooltip" data-bs-placement="right" data-bs-title="Cantidad"><i class="bi bi-check-square-fill"></i></div>
                          <div id="NombreCuerpoUsuario">500</div>
                      </div>
                      <div id="UlCuerpoUsuario">
                          <div id="IconoCuerpoUsuario" data-bs-toggle="tooltip" data-bs-placement="right" data-bs-title="Estado Producto"><i class="bi bi-check-circle-fill"></i></div>
                          <div id="NombreCuerpoUsuario">Disponible</div>
                      </div>
                  </div>
              </div>
              <div id="CuerpoBotonesUsuario">
                  <a id="BotonCuerpo1" class="btn btn-secondary" ><i class="bi bi-plus-circle-fill"></i> Editar</a>
                  <a id="BotonCuerpo2" class="btn btn-secondary" ><i class="bi bi-file-earmark-pdf-fill"></i> Rechazar</a>
              </div>
                
          </div>
        </div> 

        <div id="TarjetaMuestraUsuario" class="card border-secondary mb-3">
          <div id="TituloMuestraUsuario" class="card-header">
              <div id="NombradosMuestraUsuario">
                  <h4 id="NombreMuestraUsuario">Viro-Grip</h4>
                  <div id="TipoUsuarioMuestraUsuario"><p>Capsula</p></div>
              </div>
          </div>
          <div id="CuerpoMuestraUsuario" class="card-body text-secondary">
               
              <div id="CuerpoContenidoUsuario">
                  <div id="CuerpoParte1">
                      <div id="UlCuerpoProducto">
                          <div id="IconoCuerpoProducto" data-bs-toggle="tooltip" data-bs-placement="right" data-bs-title="Producto"><i class="bi bi-box-seam-fill"></i></div>
                          <div id="NombreCuerpoProducto">
                              <div id="EnvueltoImagen">
                                  <img id="imgProducto" width="100" height="100" src="https://d1cft8rz0k7w99.cloudfront.net/n/c/1/4/2/c142e15a1a22685429f30fc6a954ce0f91b585bc_Overthecountermedication_326545_04.jpg">
                              </div>
                          </div>
                      </div>
                      <div id="UlCuerpoUsuario">
                          <div id="IconoCuerpoUsuario" data-bs-toggle="tooltip" data-bs-placement="right" data-bs-title="Marca"><i class="bi bi-bookmark-fill"></i></div>
                          <div id="NombreCuerpoUsuario">Vijosa</div>
                      </div>
                  </div>
                  <div id="CuerpoParte2">
                      <div id="UlCuerpoUsuario">
                          <div id="IconoCuerpoUsuario" data-bs-toggle="tooltip" data-bs-placement="right" data-bs-title="Tipo Producto"><i class="bi bi-box2-fill"></i></div>
                          <div id="NombreCuerpoUsuario">Capsula</div>
                      </div>
                      <div id="UlCuerpoUsuario">
                          <div id="IconoCuerpoUsuario" data-bs-toggle="tooltip" data-bs-placement="right" data-bs-title="Precio"><i class="bi bi-currency-exchange"></i></div>
                          <div id="NombreCuerpoUsuario">$10.00</div>
                      </div>
                      <div id="UlCuerpoUsuario">
                          <div id="IconoCuerpoUsuario" data-bs-toggle="tooltip" data-bs-placement="right" data-bs-title="Cantidad"><i class="bi bi-check-square-fill"></i></div>
                          <div id="NombreCuerpoUsuario">500</div>
                      </div>
                      <div id="UlCuerpoUsuario">
                          <div id="IconoCuerpoUsuario" data-bs-toggle="tooltip" data-bs-placement="right" data-bs-title="Estado Producto"><i class="bi bi-check-circle-fill"></i></div>
                          <div id="NombreCuerpoUsuario">Disponible</div>
                      </div>
                  </div>
              </div>
              <div id="CuerpoBotonesUsuario">
                  <a id="BotonCuerpo1" class="btn btn-secondary" ><i class="bi bi-plus-circle-fill"></i> Editar</a>
                  <a id="BotonCuerpo2" class="btn btn-secondary" ><i class="bi bi-file-earmark-pdf-fill"></i> Rechazar</a>
              </div>
                
          </div>
        </div> 

        <div id="TarjetaMuestraUsuario" class="card border-secondary mb-3">
          <div id="TituloMuestraUsuario" class="card-header">
              <div id="NombradosMuestraUsuario">
                  <h4 id="NombreMuestraUsuario">Viro-Grip</h4>
                  <div id="TipoUsuarioMuestraUsuario"><p>Capsula</p></div>
              </div>
          </div>
          <div id="CuerpoMuestraUsuario" class="card-body text-secondary">
               
              <div id="CuerpoContenidoUsuario">
                  <div id="CuerpoParte1">
                      <div id="UlCuerpoProducto">
                          <div id="IconoCuerpoProducto" data-bs-toggle="tooltip" data-bs-placement="right" data-bs-title="Producto"><i class="bi bi-box-seam-fill"></i></div>
                          <div id="NombreCuerpoProducto">
                              <div id="EnvueltoImagen">
                                  <img id="imgProducto" width="100" height="100" src="https://d1cft8rz0k7w99.cloudfront.net/n/c/1/4/2/c142e15a1a22685429f30fc6a954ce0f91b585bc_Overthecountermedication_326545_04.jpg">
                              </div>
                          </div>
                      </div>
                      <div id="UlCuerpoUsuario">
                          <div id="IconoCuerpoUsuario" data-bs-toggle="tooltip" data-bs-placement="right" data-bs-title="Marca"><i class="bi bi-bookmark-fill"></i></div>
                          <div id="NombreCuerpoUsuario">Vijosa</div>
                      </div>
                  </div>
                  <div id="CuerpoParte2">
                      <div id="UlCuerpoUsuario">
                          <div id="IconoCuerpoUsuario" data-bs-toggle="tooltip" data-bs-placement="right" data-bs-title="Tipo Producto"><i class="bi bi-box2-fill"></i></div>
                          <div id="NombreCuerpoUsuario">Capsula</div>
                      </div>
                      <div id="UlCuerpoUsuario">
                          <div id="IconoCuerpoUsuario" data-bs-toggle="tooltip" data-bs-placement="right" data-bs-title="Precio"><i class="bi bi-currency-exchange"></i></div>
                          <div id="NombreCuerpoUsuario">$10.00</div>
                      </div>
                      <div id="UlCuerpoUsuario">
                          <div id="IconoCuerpoUsuario" data-bs-toggle="tooltip" data-bs-placement="right" data-bs-title="Cantidad"><i class="bi bi-check-square-fill"></i></div>
                          <div id="NombreCuerpoUsuario">500</div>
                      </div>
                      <div id="UlCuerpoUsuario">
                          <div id="IconoCuerpoUsuario" data-bs-toggle="tooltip" data-bs-placement="right" data-bs-title="Estado Producto"><i class="bi bi-check-circle-fill"></i></div>
                          <div id="NombreCuerpoUsuario">Disponible</div>
                      </div>
                  </div>
              </div>
              <div id="CuerpoBotonesUsuario">
                  <a id="BotonCuerpo1" class="btn btn-secondary" ><i class="bi bi-plus-circle-fill"></i> Editar</a>
                  <a id="BotonCuerpo2" class="btn btn-secondary" ><i class="bi bi-file-earmark-pdf-fill"></i> Rechazar</a>
              </div>
                
          </div>
        </div> 

    </div>

  </div>

