@{
    ViewData["Title"] = "Home Page";
}
@section Estilos
{
    <link rel="stylesheet" href="~/css/VistaMuestra/home.css" asp-append-version="true" />
}

<div id="contenedorImagen">

    <div id="cajaDatos">

        <div id="datos">

            <div id="imagenDatos">
                <img src="@ViewData["imagenUsuario"]" width="165" height="150"/>
            </div>

            <div id="titulos">
                <h1>@ViewData["nombreUsuario"]</h1>
                <h2>@ViewData["tipoUsuario"]</h2>
            </div>

        </div>

    </div>

</div>
